<div class="row m-4">
  <div class="col">
    <h1>Stupid Coaching</h1>

    <form action="/answer" data-turbo="false" class="form-label">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary mb-3">
    </form>
  </div>
</div>
